<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
    <!-- latest link for all type of classes-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<!-- rgb(212, 213, 209) -->
<!-- for icons -->
<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
<body>
<div class="container-fluid" style="background-color:rgb(16, 16, 16);" >
<div class="row p-3 mt-5">
            <div class="col-md mt-3 ms-3">
              <h3 class="text-light"><b>SOORAJ</b><span class="text-primary">CookNShop</span></h3><br>
                  <p class="text-light">A108 Bus Stand</p>
                  <p class="text-light">JhaJha, Bihar ,811308</p>
                  <p class="text-light">India</p>
                  
                  <p class="text-light" ><b>Phone:</b> <span class="text-light">7710204395</span></p>
                  <p class="text-light"><b>Email:</b> <span class="text-light">surajcorp10@gmail.com</span> </p>
            </div>
            <div class="col-md">
                <h4 class="mt-3" style="color:rgb(13, 13, 157)"><b>Useful Links</b></h4>
                 <br>
                 <p class="text-light"><span class="text-light">></span> Home</p>
                 <p class="text-light"><span class="text-light">></span> About us</p>
                 <p class="text-light"><span class="text-light">></span> Services</p>
                
                 <p class="text-light"><span class="text-light">></span> Terms of service</p>
                 <p class="text-light"><span class="text-light">></span> Privacy policy</p>
            </div>
            <div class="col-md">
                <h4 class="mt-3" style="color:rgb(13,13,157)"><b>Our Services</b></h4>
                <br>
                <p class="text-light"><span class="text-light">></span> Order Dishes</p>
                <p class="text-light"> <span class="text-light">></span> View Recipes</p>
                <p class="text-light"><span class="text-light">></span> Download Recipes</p>
                <p class="text-light"><span class="text-light">></span> Feedback </p>
                <p class="text-light"><span class="text-light">></span> View Dishes videos</p>
            </div>
            <div class="col-md">
                <h4 class="mt-3 " style="color:rgb(13, 13, 157)"><b>Our Social Networks</b></h4>
                <br>
                <p class="text-light">product, marketing dolor sit amet consectetur adi hence calse.</p>
                <p><i class="bi-twitter text-light rounded-circle p-2 " style="background-color:rgb(13,13,157)" ></i>&nbsp &nbsp <i class="bi-facebook text-light rounded-circle p-2 " style="background-color:rgb(13,13,157);" ></i>&nbsp &nbsp <i class="bi-instagram text-light rounded-circle p-2 " style="background-color: rgb(13,13,157);" ></i>&nbsp &nbsp <i class="bi-linkedin text-light rounded-circle p-2 " style="background-color: rgb(13,13,157);" ></i>&nbsp &nbsp <i class="bi-skype text-light rounded-circle p-2 " style="background-color: rgb(13,13,157);" ></i>&nbsp &nbsp</p>
            </div>
            </div>

            <div class="row p-4 text-center" style="background-color:rgb(104, 102, 102);">
              <h6 class="text-muted mt-2"><b>  © Copyright 2000-2024 <b class="text-dark">Sooraj Community</b> private LTD. | All Rights Reserved
                </b>
              </h6>
              <h6 class="text-muted"><b>Designed by <span style="color:rgb(13,13,157);">SOORAJ SINGH</span></b></h6>
            </div>

            </div>
</body>
</html>